[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=SailTris
Exec=SailTris
Name=SailTris
# translation example:
# your app name in German locale (de)
Name[it]=SailTris

